<h1>Public St0ries</h1>
<div class="row">
    {{#each stories}}
    <div class="col s12 m4">
        <div class="card">
            <div class="card-image">
                {{#if user}}
                {{!-- We need three curly baces because the function returns html content we need to parse. 
                ../user.id references to the global user outside of the each loop --}}
                {{{editIcon user.id ../user.id id}}} 
                {{/if}}
            </a>
            </div>
            <div class="card-content center-align">
                <h5>{{title}}</h5>
                <p class="story-text">{{stripTags (truncate body 150)}}</p> {{!-- trimTags and truncate are handlebars helper functions defined in hbs.js --}}
                <br>
                <div class="chip">
                    <img src="{{user.image}}" alt="Contact Person">
                    <a href="/stories/user/{{user.id}}">{{user.firstName}} {{user.lastName}}</a>
                </div>
            </div>
            <div class="card-action center-align">
                <a class="btn blue lighten-3" href="/stories/show/{{id}}">Read More</a>
            </div>
        </div>
    </div>
    {{else}}
    <p>No public stories found...</p>
    {{/each}}
</div>